* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.card {
  border-radius: 20px;
  box-shadow: 0 0 10px #0B2545;
  background: linear-gradient(180deg, #134074, #13315C 50%, #0B2545);
  border: none;
  color: #EEF4ED;
}
