.icon {
  background-color: #EEF4ED;
  border-radius: 50%;
  color: #134074;
  height: 32px;
  width: 32px;
  margin-inline: 8px;
  padding: 4px;
  vertical-align: middle;
}

.icon:hover {
  background-color: #8DA9C4;
  color: #13315C;
}