.navbar {
  background: linear-gradient(to right, #0a192f 0%, #112240 100%);
  border-bottom: 1px solid rgba(100, 255, 218, 0.1);
  padding: 1rem 0;
}

.navbar-brand {
  color: #EEF4ED;
  font-weight: 600;
  transition: color 0.3s ease;
}

.navbar-brand:hover {
  color: #64ffda;
}

.nav-link {
  color: #EEF4ED;
  margin: 0 1rem;
  transition: color 0.3s ease;
  position: relative;
}

.nav-link:hover {
  color: #64ffda;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: #64ffda;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.custom-toggler {
  border-color: rgba(100, 255, 218, 0.5);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(100, 255, 218, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .nav-item .nav-link.active, .navbar-brand.active {
  color: #64ffda !important;
}

.navbar .nav-item .nav-link.active::after {
  width: 100%;
  background-color: #64ffda;
  color: #64ffda !important;
}

/* Add this new selector to handle hover state */
.navbar-nav:hover .nav-link.active::after {
  width: 0;
}

/* Modify the hover state for the current link */
.navbar-nav:hover .nav-link:hover::after {
  width: 100%;
}