.portfolio-section {
  color: #EEF4ED;
}

.gradient-text {
  background: linear-gradient(135deg, #64ffda 0%, #63b3ed 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 600;
}

/* @media (max-width: 768px) { 
  .project-grid {
    --bs-gutter-y: 0.75rem !important;
  }
} */