.custom-btn {
  border-radius: 8px;
  font-weight: 500;
  transition: transform 0.2s, box-shadow 0.2s;
}

.custom-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* opacity: 0.9; */
  filter: brightness(90%);
}

.btn-primary {
  background: linear-gradient(135deg, #007bff, #0056b3); /* Gradient for the live demo button */
  border: none;
}

.btn-secondary {
  background: linear-gradient(135deg, #6c757d, #5a6268); /* Gradient for the GitHub button */
  border: none;
}

/* .btn-primary:hover, .btn-secondary:hover {
  opacity: 0.9;
} */